@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --sidebar-bg-color:#fff;
  --sidebar-marca-color:#fff4dc;
  --sidebar--color:#fff;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  background-color: var(--sidebar-bg-color);
  display: flex;
  align-items: center;
  grid-area: header;
  justify-content: space-between;
  padding: 0 16px;
}


/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index:10; /* Needs to sit above the hamburger menu icon */
  background-color:  var(--sidebar-bg-color);
  color:#000;
}
.sidenav.active {
  transform: translateX(0);
}
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.main {
  grid-area: main;
  overflow: auto;
  padding:10px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background-color: var(--sidebar-bg-color);
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}

/*------scroll bar---------------------*/
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.sidebar-header {
  padding: 10px;
  overflow: hidden;
  height: 90px;
}

/*  user pics  */
.sidebar-header .user-pic {
 float: left;
 width: 60px;
 padding: 2px;
 border-radius: 12px;
 margin-right: 15px;
 overflow: hidden;
}
.sidebar-header .user-pic img {
 object-fit: cover;
 height: 100%;
 width: 100%;
}
.sidebar-header .user-info {
 float: left;
}
.sidebar-header .user-info > span {
 display: block;
}
.sidebar-header .user-info .user-role {
 font-size: 12px;
}
.sidebar-header .user-info .user-status {
 font-size: 11px;
 margin-top: 4px;
}
.sidebar-header .user-info .user-status i {
 font-size: 8px;
 margin-right: 4px;
 color: #5cb85c;
}


@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/*----------------------sidebar-menu-------------------------*/
.sidebar-menu .sidebar-menu ul li a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------sidebar-wrapper----------------*/
.sidebar-menu {
  padding-bottom: 10px;
}
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu a {
  text-decoration: none;
}


.sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 4px 20px 4px 10px;
  display: inline-block;
}
.sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;  
}
.sidebar-menu ul li a:hover {
  background-color: var(--sidebar-marca-color);
}


.sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;

  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  
}

.sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 3px;
}


.sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
 padding: 5px 0;
}
.sidebar-menu .sidebar-dropdown .sidebar-submenu li {
 padding-left: 25px;
 font-size: 13px;
}
.sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
 content: "\f111";
 font-family: "Font Awesome 5 Free";
 font-weight: 400;
 font-style: normal;
 display: inline-block;
 text-align: center;
 text-decoration: none;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 margin-right: 10px;
 font-size: 8px;
}


.sidebar-menu ul li a span.label,
.sidebar-menu ul li a span.badge {
 float: right;
 margin-top: 8px;
 margin-left: 5px;
}

.sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
 float: right;
 margin-top: 0px;
}

.sidebar-menu .sidebar-submenu {
 display: none;
}

.sidebar-menu .sidebar-dropdown.active > a:after {
 transform: rotate(90deg);
 right: 17px;
}

/*-----------------------------chiller-theme-------------------------------------------------*/
 .sidebar-menu ul li a {
    color: #000;
    padding-left: 20px;
}

  .sidebar-menu ul li:hover>a,
  .sidebar-menu {
    color: #b8bfce;
    color:black;
}

.sidebar-dropdown .sidebar-submenu li a:hover:before,
   input.search-menu:focus+span,
   .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

  .sidebar-menu ul li a i,
  .sidebar-menu .sidebar-dropdown div {
    background: var(--sidebar-marca-color);
}

  .sidebar-menu .header-menu span {
    color: #6c7b88;
}
